*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin-top: 30px;
  margin-bottom: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(170,170,170);
}

.display{
  background-color: rgb(238,238,238);
  height: auto;
  min-height: 80px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 30px;
  padding: 10px;
  letter-spacing: 2px;
  width: 300px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.buttons-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button{
  padding: 20px 25px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(238,238,238);
  font-size: 16px;
  cursor: pointer;
}

.clear-button, .delete-button{
  grid-column: span 2;
}

.clear-button{
  background-color: rgb(255, 170, 170);
}

.delete-button{
  background-color: rgb(170, 170, 255);
}

.number-button:hover, 
.operator-button:hover{
  background-color: rgb(223,223,223);
}

.number-button:active, 
.operator-button:active{
  background-color: rgb(208,208,208);
}

.clear-button:hover{
  background-color: rgb(248, 156, 156);
}

.clear-button:active{
  background-color: rgb(236, 133, 133);
}

.delete-button:hover{
  background-color: rgb(150, 150, 246);
}

.delete-button:active{
  background-color: rgb(131, 131, 241);
}